@model IEnumerable<SSW.Data.Entities.Student>
@using Newtonsoft.Json

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Of Students</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>
<body>
    
    <div class="container" id="wrapper">
        <h4>Students</h4>
        <button class="btn btn-default" id="btnAdd">Add</button>
        <hr />

        <table class="display" id="studentsTable">
        </table>
    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>

        var data = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented));

        $(function () {

            var Student = Backbone.Model.extend();

            var Students = Backbone.Collection.extend();

            var StudentsTable = Backbone.View.extend({
                el: $('#wrapper'),

                events: {
                    'click button#btnAdd': 'addRow'
                },

                initialize: function () {
                    this.listenTo(this.model, 'change', this.render)

                    this.render();
                },

                render: function () {
                    var table =  $('#studentsTable').DataTable({
                        data: this.model.toJSON(),
                        columns: [
                            { className: 'details-control', orderable: false, data: '', defaultContent: ''},
                            { title: "Id", data: "Id" },
                            { title: "First Name", data: "User.FirstName" },
                            { title: "Last Name", data: "User.LastName" },
                            { title: "Email Name", data: "User.Email" },
                            { title: "Password", data: "User.Password" },

                        ]
                    });

                    function format(d) {
                        return '<table>' +
                            '<tr>' +
                            '<td>Full name:</td>' +
                            '<td>' + d.User.LastName + ' ' + d.User.FirstName + '</td>' +
                            '</tr>' +
                            '</table>';
                    }

                    $('#studentsTable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            row.child(format(row.data())).show();
                            tr.addClass('shown');
                        }
                    });

                    return this;
                },

                addRow: function () {
                    alert('addrow');
                }
                
            });

            
            var v = new StudentsTable({ model: new Students(data) });

        });
    </script>
    
</body>
</html>
