@model IEnumerable<SSW.Data.Entities.Student>
@using Newtonsoft.Json

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Of Students</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>
<body>

    <div class="container" id="wrapper">
        <h4>Students</h4>
        <hr />

        <div id="tableWrapper" style="display:inline">
            <table class="display" id="studentsTable">
            </table>
        </div>

        <div id="formWrapper" style="display:none">
            <form>
                <label>First Name:</label><br>
                <input type="text" id="firstName" name="firstName"><br>

                <label>Last Name:</label><br>
                <input type="text" id="lastName" name="lastName"><br>

                <label>Email:</label><br>
                <input type="email" id="email" name="email"><br>

                <label>Password:</label><br>
                <input type="password" id="password" name="password"><br><br>

                <input type="button" id="btnSubmit" class="btn btn-default" value="Submit">

                <button id="btnSubmit" class="btn btn-default" type="button">Submit</button>
            </form>
        </div>

    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>

        var data = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented));

        $(function () {

            var Student = Backbone.Model.extend({
                defaults: {
                    FirstName: 'd',
                    LastName: 'dsds',
                    Email: 'sds',
                    Password: 'sds'
                },

                url: 'Test/Create',


            });

            var StudentView = Backbone.View.extend({
                el: $('#formWrapper'),

                events: {
                    'click #btnSubmit': 'submit'
                },

                initialize: function () {

                },

                submit: function () {
                    this.model.save();

                    //$('#formWrapper').hide();
                    $('#tableWrapper').show();
                    this.remove();
                }
            });



            var Students = Backbone.Collection.extend();

            var StudentsTable = Backbone.View.extend({
                el: $('#wrapper'),

                events: {
                    'click #btnSubmit': 'submit',
                    'click #studentsTable button.btnEdit': 'edit2',
                    //'click #studentsTable tbody tr td button.btnDetails': 'details',
                    //'click #studentsTable button.btnDelete': 'delete'
                },

                initialize: function () {

                    this.$('#formWrapper').hide(); // todo: hide using css style

                    this.render();
                },

                render: function () {
                    var self = $(this);

                    var table = this.$('#studentsTable').DataTable({
                        data: this.model.toJSON(),
                        columns: [
                            { title: "Id", data: "Id" },
                            { title: "First Name", data: "User.FirstName" },
                            { title: "Last Name", data: "User.LastName" },
                            { title: "Email Name", data: "User.Email" },
                            { title: "Password", data: "User.Password" },
                            {
                                title: 'Actions', data: null, searchable: false, orderable: false, 
                                defaultContent: '<button class="btnEdit">Edit</button> | <button class="btnDetails">Details</button> | <button class="btnDelete">Delete</button>'
                            }

                        ],
                        //columnDefs: [{
                        //    targets: -1,
                        //    data: null,
                        //    defaultContent: '<button class="btnEdit">Edit</button> | <button class="btnDetails">Details</button> | <button class="btnDelete">Delete</button>'
                            
                        //}]
                    });


                    
                    //this.$('tbody').on('click', 'button.btnEdit', function () {
                    //    alert('edit');
                    //});

                    this.$('tbody').on('click', 'button.btnDetails', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            row.child(format(row.data())).show();
                            tr.addClass('shown');
                        }
                    });

                    this.$('tbody').on('click', 'button.btnDelete', function () {
                        alert('delete from scope');
                    });

                    function format(d) {
                        return '<table><tr>' +
                            '<td>Full name:</td>' +
                            '<td>' + d.User.LastName + ' ' + d.User.FirstName + '</td>' +
                            '</tr></table>';
                    }

                    return this;
                },

                edit2: function () {
                    //this.$('#tableWrapper').hide();
                },

                submit: function () {
                    alert('submit button');
                }

                //addRow: function () {
                //    $('#tableWrapper').hide();
                //    $('#formWrapper').show();

                //    new StudentView({model: new Student()});
                //}

            });




            var v = new StudentsTable({ model: new Students(data) });

        });
    </script>

</body>
</html>
