@model IEnumerable<SSW.Data.Entities.Student>
@using Newtonsoft.Json

@{
    Layout = null;
}

<!DOCTYPE html>

<div id="tableWrapper">
    <table></table>
    <div id="formWrapper">
        <label></label>
        <input />
    </div>
</div>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Of Students</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>
<body>

    <div class="container" id="wrapper">
        <h4>Students</h4>
        <hr />


        <div id="tableWrapper">
            <table></table>
        </div>
        <div id="formWrapper">
            <label></label>
            <input />
        </div>

        <div id="tableWrapper">
            <table class="display" id="studentsTable">
            </table>
        </div>

        <div id="formWrapper">
            <label>First Name:</label><br>
            <input type="text" id="firstName" name="firstName"><br>

            <label>Last Name:</label><br>
            <input type="text" id="lastName" name="lastName"><br>

            <label>Email:</label><br>
            <input type="email" id="email" name="email"><br>

            <label>Password:</label><br>
            <input type="password" id="password" name="password"><br><br>

            <button id="btnSubmit" class="btn btn-default" type="button">Submit</button>
        </div>

    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>

        var data = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented));

        $(function () {

            var Student = Backbone.Model.extend({
                defaults: {
                    FirstName: 'd',
                    LastName: 'dsds',
                    Email: 'sds',
                    Password: 'sds'
                },

                url: 'Test/Create',


            });

            var StudentView = Backbone.View.extend({
                el: $('#formWrapper'),

                events: {
                    'click #btnSubmit': 'submit'
                },

                initialize: function () {

                },

                submit: function () {
                    this.model.save();

                    //$('#formWrapper').hide();
                    $('#tableWrapper').show();
                    this.remove();
                }
            });



            var Students = Backbone.Collection.extend();

            var StudentsTable = Backbone.View.extend({
                el: $('#wrapper'),

                events: {
                    'click #studentsTable tbody tr': 'addRow'
                },

                initialize: function () {
                    this.listenTo(this.model, 'change', this.render)

                    $('#formWrapper').hide();

                    this.render();
                },

                render: function () {
                    var table =  $('#studentsTable').DataTable({
                        data: this.model.toJSON(),
                        columns: [
                            { className: 'details-control', orderable: false, data: '', defaultContent: ''},
                            { title: "Id", data: "Id" },
                            { title: "First Name", data: "User.FirstName" },
                            { title: "Last Name", data: "User.LastName" },
                            { title: "Email Name", data: "User.Email" },
                            { title: "Password", data: "User.Password" },

                        ]
                    });

                    function format(d) {
                        return '<table>' +
                            '<tr>' +
                            '<td>Full name:</td>' +
                            '<td>' + d.User.LastName + ' ' + d.User.FirstName + '</td>' +
                            '</tr>' +
                            '</table>';
                    }

                    $('#studentsTable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            row.child(format(row.data())).show();
                            tr.addClass('shown');
                        }
                    });

                    return this;
                },

                addRow: function () {
                    $('#tableWrapper').hide();
                    $('#formWrapper').show();

                    new StudentView({model: new Student()});
                }

            });




            var v = new StudentsTable({ model: new Students(data) });

        });
    </script>

</body>
</html>
