@{
    ViewBag.Title = "Home Page";
}


<p>Getting data using jquery</p>
<input type="button" id="btnGet" value="Get Users (jquery)" />
<ul id="usersList"></ul>
<br />

<p>Getting data using ajax</p>
<input type="button" id="btnGetAjax" value="Get Users (ajax)" />
<ul id="usersListAjax"></ul>
<br />

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the details below.</h3>
        </div>
        <div class="panel-body">

            <div class="form-group col-md-10">
                <label>First Name</label>
                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="Enter First Name" required="" />
            </div>

            <div class="form-group col-md-10">
                <label>Last Name</label>
                <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Enter Last Name" required="" />
            </div>

            <div class="form-group col-md-10">
                <label>User Email</label>
                <input type="text" name="UserEmail" id="UserEmail" class="form-control" placeholder="Enter User Email" required="" />
            </div>
            <div class="form-group col-md-10">
                <label>User Password</label>
                <input type="text" name="UserPassword" id="UserPassword" class="form-control" placeholder="Enter User Password" required="" />
            </div>

            <div class="form-group col-md-10">
                <div>
                    <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">
                </div>
            </div>
        </div>
    </div>
    <hr />

    <table id="tblUser" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGet").click(function () {
                $.getJSON("/Home/GetUsers", getUsersJquery)
            });
        });

        function getUsersJquery(users) {

            let deserialized = $.parseJSON(users);

            $("#usersList").text("");

            $.each(deserialized, function () {
                $("#usersList").append("<li>" + this.Email + "</li>");
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGetAjax").click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "GET",
                    url: "/Home/GetUsers",
                    success: getUsersAjax
                });
            });
        });

        function getUsersAjax(users) {

            let deserialized = $.parseJSON(users);

            $("#usersListAjax").text("");

            $.each(deserialized, function () {
                $("#usersListAjax").append("<li>" + this.Email + "</li>");
            });
        }
    </script>

    <script type="text/javascript">
        $(function () {
            LoadData();
            $("#btnSave").click(function () {
                var usr = {};
                usr.FirstName = $("#FirstName").val();
                usr.LastName = $("#LastName").val();
                usr.Email = $("#UserEmail").val();
                usr.Password = $("#UserPassword").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CreateUser", "Home")",
                    data: usr,
                    dataType: "json",
                    success: function () {
                        LoadData();
                    }
                });
            });
        });

        function LoadData() {
            $("#tblUser tbody tr").remove();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetUsers", "Home")",
                dataType: "json",
                data: { id: "" },
                success: function (data) {
                    $.each(JSON.parse(data), function () {
                        let rows = "<tr>"
                            + "<td>" + this.Id + "</td>"
                            + "<td>" + this.FirstName + "</td>"
                            + "<td>" + this.LastName + "</td>"
                            + "<td>" + this.Email + "</td>"
                            + "<td>" + this.Password + "</td>"
                            + "</tr>";
                        $("#tblUser tbody").append(rows);
                    });
                }
            });
        }
    </script>
}

